:root {
  --block-size: 60;
  --row-length: 7;
  --blue-white: #f9fbff;
  --blue-light: #e1e9ff;
  --blue-mid: #c3d1ffdd;
  --blue-dark: #1c2bffdd;
  --blue-deep: #000770dd;
  --blue-shadow: rgb(117, 117, 163);
  --board-colour: #002966;
  --peach-white: #fffae4;
  --peach-light: #ffeda5;
  --peach-mid: #ffdf76;
  --peach-dark: #ffc918;
  --peach-darker: #ce8d00;
  --peach-deep: #694800;
  --peach-shadow: #553a0055;
  --peach-shadow-dark: #553a0066;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html {
  touch-action: manipulation;
}

body {
  background: var(--board-colour);
  font-family: 'Open Sans', sans-serif;
  color: var(--peach-light);
  margin: 30px;
}

h3 {
  font-size: 3rem;
  color: var(--peach-mid);
  letter-spacing: 2px;
  margin: 10px 0;
  text-shadow: 0 3px 3px var(--blue-deep);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  display: flex;
  flex-wrap: wrap;
  min-width: calc(var(--block-size) * 1px * var(--row-length));
  max-width: calc(var(--block-size) * 1px * var(--row-length));
  margin: 20px;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
  width: calc(var(--block-size) * 1px);
  height: calc(var(--block-size) * 1px);
  background: linear-gradient(315deg, var(--peach-light), var(--peach-white));
  opacity: 1; 
  transform: scale(1) rotate(0deg);
  transition: all 0.5s ease;
}

.block.init {
  opacity: 0;
  transform: scale(0.1) rotate(90deg);
  transition: all 0.5s ease;
}

.block.blank {
  background: var(--board-colour);
  cursor: auto;
}

.block.active {
  background: linear-gradient(45deg, var(--peach-light), var(--peach-light));
  transition: all 0.1s ease;
}

/*******************/
/* Marble settings */
/*******************/

.block > .marble {
  width: calc((var(--block-size) * 1px) * 0.6);
  height: calc((var(--block-size) * 1px) * 0.6);
  border-radius: 50%;
  background: 
    radial-gradient(circle farthest-corner at 33% 33%, 
      var(--peach-mid) 0%, 
      var(--peach-darker) 80%), 
    radial-gradient(circle farthest-corner at 45% 45%, 
      var(--peach-darker) 50%, 
      var(--peach-mid) 80%
  );
  box-shadow: 4px 4px 4px 1px var(--peach-shadow);
  transition: all 0.1s ease;
}

.block:hover > .marble {
  /*transform: translateY(0);
  filter: drop-shadow(0 8px 3px var(--blue-shadow));*/
}

.block.active > .marble {
  background: 
    radial-gradient(circle farthest-corner at 33% 33%, 
      var(--peach-dark) 0%, 
      var(--peach-deep) 80%), 
    radial-gradient(circle farthest-corner at 45% 45%, 
      var(--peach-deep) 50%, 
      var(--peach-dark) 80%
  );
  filter: contrast(1.2) brightness(1.2);
  box-shadow: 4px 4px 4px 1px var(--peach-shadow);
  transition: all 0.1s ease;
}

.block.active:hover > .marble {
  /*filter: sepia(1) contrast(1.2) brightness(1.1) drop-shadow(0 8px 3px var(--blue-shadow));*/
}

.block.empty > .marble, .block.empty:hover > .marble {
  opacity: 0.3;
  background: var(--blue-mid);
  background: 
    radial-gradient(circle farthest-corner at 66% 66%, 
      var(--peach-mid) 0%, 
      var(--peach-darker) 80%), 
    radial-gradient(circle farthest-corner at 45% 45%, 
      rgba(0, 0, 0, 0.5) 20%, 
      var(--peach-darker) 80%
  );
  box-shadow: none;
  transform: none;
  filter: blur(0);
  transition: all 0.1s ease;
}

/***********/
/* Buttons */
/***********/

.btn {
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  background-color: #e1e9ff;
  cursor: pointer;
  transition: all 0.2s ease;
  outline: 0;
  font-weight: 700;
  font-size: 1.25rem;
}

.btn:hover {
  background-color: var(--peach-mid);
  box-shadow: 0 5px 10px -5px #000000;
  transition: all 0.2s ease;
}

.btn:active {
  transform: translateY(1px);
}

i.fas {
  color: var(--grey-dark);
}

.text-center {
  text-align: center;
}

/**********/
/* Footer */
/**********/

footer {
  font-size: 1rem;
}

footer > a {
  color: var(--peach-light);
  font-weight: bold;
  transition: all 0.2s ease;
}

footer > a:hover {
  color: var(--peach-light);
  transition: all 0.2s ease;
  text-decoration: none;
}

.new-tab-icon::after {
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f35d";
  margin-left: 5px;
}

/********************/
/* Margin & Padding */
/********************/

.m-t-5 {
  margin-top: 5px;
}

.m-r-5 {
  margin-right: 5px;
}

.m-b-5 {
  margin-bottom: 5px;
}

.m-l-5 {
  margin-left: 5px;
}

.m-t-0 {
  margin-top: 0;
}

.m-t-8 {
  margin-top: 8px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-t-30 {
  margin-top: 30px;
}