:root {
  --block-size: 75;
  --row-length: 7;
  --blue-mid: #b0c2ffdd;
  --blue-dark: #000fdbdd;
  --blue-deep: #000770dd;
  --blue-shadow: #4444dddd;
  --board-colour: #003077;
}

body {
  background: var(--board-colour);
  font-family: 'Open Sans', sans-serif;
  margin: 30px;
}

h3 {
  font-size: 3rem;
  color: #ffdd99;
  letter-spacing: 2px;
  margin: 10px 0;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  display: flex;
  flex-wrap: wrap;
  min-width: calc(var(--block-size) * 1px * var(--row-length));
  max-width: calc(var(--block-size) * 1px * var(--row-length));
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: calc(var(--block-size) * 1px);
  height: calc(var(--block-size) * 1px);
  background: linear-gradient(45deg, #e1e9ff, #f9fdff);
}

.block.blank {
  background: var(--board-colour);
  cursor: auto;
}

.block.empty {
  /* background: #ffdddd; */
}

.block > .marble {
  width: calc((var(--block-size) * 1px) / 2);
  height: calc((var(--block-size) * 1px) / 2);
  border-radius: 50%;
  background: 
    radial-gradient(circle farthest-corner at 33% 33%, 
      var(--blue-mid) 0%, 
      var(--blue-deep) 80%), 
    radial-gradient(circle farthest-corner at 45% 45%, 
      var(--blue-dark) 50%, 
      var(--blue-mid) 80%
  );
  box-shadow: 0 4px 6px -1px var(--blue-shadow);
  transition: all 0.2s ease;
}

.block:hover > .marble {
  transform: translateY(-3px);
  box-shadow: 0 6px 6px -1px var(--blue-shadow);
  transition: all 0.2s ease;
}

.block.active > .marble {
  filter: sepia(1) contrast(1.2) brightness(1.1);
  box-shadow: 0 4px 6px -1px var(--blue-shadow);
  transition: all 0.2s ease;
}

.block.active:hover > .marble {
  filter: sepia(1) contrast(1.2) brightness(1.1);
  box-shadow: 0 6px 6px -1px var(--blue-shadow);
  transition: all 0.2s ease;
}

.block.empty > .marble {
  opacity: 0.3;
  background: 
    radial-gradient(circle farthest-corner at 66% 66%, 
      var(--blue-mid) 0%, 
      var(--blue-dark) 80%), 
    radial-gradient(circle farthest-corner at 45% 45%, 
      rgba(0, 0, 0, 0.8) 50%, 
      var(--blue-dark) 80%
  );
  box-shadow: none;
  transform: none;
  filter: blur(1px);
}