/**************/
/* Layout *****/
/**************/

.h-block, .v-block {
  display: flex;
  align-items: center;
  margin: 0;
}

.h-block {
  flex-direction: row;
}

.v-block {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.max-w-350 {
  max-width: 350px;
}

/********************/
/* Margin & Padding */
/********************/

.m-t-5 {
  margin-top: 5px;
}

.m-r-5 {
  margin-right: 5px;
}

.m-b-5 {
  margin-bottom: 5px;
}

.m-l-5 {
  margin-left: 5px;
}

.m-t-0 {
  margin-top: 0;
}

.m-t-8 {
  margin-top: 8px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-l-20 {
  margin-left: 20px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-t-30 {
  margin-top: 30px;
}